@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	main {
		@apply relative min-h-0 w-full;
	}
	main > section {
		@apply lg:-translate-y-[3.5rem] md:-translate-y-[3.5] translate-y-0;
	}
	section {
		@apply flex flex-row items-stretch justify-between;
	}
	section > div {
		@apply w-full h-screen flex flex-col items-center justify-center;
	}
	input[type="text"],
	textarea {
		@apply w-full py-2 border-b-2 resize-y focus:outline-none;
	}
	button {
		@apply px-4 py-2;
	}
	a {
		@apply generic-transition;
	}
	a:hover {
		@apply hover:underline;
	}
	h1 {
		@apply text-4xl font-extrabold;
	}
	h2 {
		@apply text-3xl font-extrabold;
	}
	h3 {
		@apply text-2xl font-bold;
	}
	h4 {
		@apply text-xl font-bold;
	}
	h5 {
		@apply text-lg font-semibold;
	}
	h6 {
		@apply text-base font-semibold;
	}
	p {
		@apply leading-loose;
	}
	header {
		@apply w-full px-4 sticky top-0 left-0 flex flex-row items-center justify-between z-10;
	}
	header > div:first-child {
		@apply py-2;
	}

	footer {
		@apply w-full flex lg:flex-row md:flex-row flex-col items-center justify-between border-t-2 static bottom-0 left-0;
	}
	footer > .logo-container {
		@apply flex-[2] flex flex-col lg:items-start md:items-start items-center justify-center px-8 py-2;
	}
	footer .contact-list-container {
		@apply flex-1 flex flex-col items-start justify-center px-8 py-2 space-y-2;
	}
}

@layer components {
	.generic-transition {
		@apply transition-all ease-linear duration-200;
	}
	.custom-scrollbar {
		@apply scrollbar-thin scrollbar-track-gray-200 scrollbar-thumb-rounded-md;
	}
	.contact-list {
		@apply max-h-fit space-y-2;
	}
	.contact-list > div {
		@apply flex flex-row items-center justify-start space-x-4;
	}
	.contact-list > div > a {
		@apply flex flex-row items-center justify-start space-x-4;
	}
	.about-beside > div {
		@apply w-4/5 space-y-8 leading-loose flex flex-col items-center justify-center;
	}
	.about-beside > div > h1 {
		@apply text-center;
	}
	.contact-form-section {
		@apply flex flex-row items-stretch justify-between;
	}
	.contact-form-section > div {
		@apply flex-1;
	}
	.contact-form-beside {
		@apply flex flex-col items-center justify-center p-8;
	}
	.contact-form {
		@apply lg:w-4/5 w-11/12 h-auto aspect-square flex flex-col items-start justify-center space-y-2 lg:px-8 px-4 lg:py-16 md:py-8 py-4;
	}
	.contact-form > h4 {
		@apply w-full text-center;
	}
	.contact-form > label,
	span {
		@apply w-full text-sm;
	}
	.contact-form > span {
		@apply text-sm text-red-700;
	}
	.contact-form > button {
		@apply bg-white text-red-700 transition-all ease-in-out duration-300 border-2 border-red-700 tracking-wider lg:px-4 md:px-2 px-1 lg:py-2 py-1 lg:w-fit md:w-fit w-full;
	}
	.contact-form > button:hover {
		@apply bg-red-700 text-white;
	}
	.field-error {
		@apply border-red-700;
	}
	.team-section {
		@apply min-h-fit p-4 flex flex-col items-center justify-center space-y-2 mt-[5.2em] mb-[-5.2em];
	}
	.team-gallery {
		@apply w-full h-fit lg:px-16 md:px-8 px-4 grid lg:grid-cols-2 md:grid-cols-2 grid-cols-1 grid-flow-row gap-8;
	}
	.member-section {
		@apply translate-y-0 h-full lg:flex-row flex-col;
	}
	.member-image-layout {
		@apply w-full h-full flex flex-col lg:items-end items-center justify-start lg:pt-8 md:pt-8 pt-0 lg:pr-8 pr-0 space-y-2 left-0;
	}
	.member-image-layout > h3 {
		@apply lg:w-3/5 md:w-4/5 w-full text-center;
	}
	.member-image-layout > .italic {
		@apply lg:w-3/5 md:w-4/5 w-full text-center lg:pb-4 md:pb-4 pb-0;
	}
	.member-image-container {
		@apply lg:w-3/5 md:w-3/5 w-full h-auto relative inline-block overflow-hidden aspect-[1/1.5];
	}
	.member-image-container > img {
		@apply transition-all ease-in-out duration-300 hover:scale-105 cursor-pointer;
	}
	.member-beside {
		@apply flex flex-col lg:items-start items-center justify-start h-full;
	}
	.member-markdown {
		@apply lg:w-3/4 w-full prose text-justify px-4 pb-8 leading-loose;
	}
	.image-container {
		@apply relative w-3/5 h-fit;
	}
	.portfolio-section {
		@apply flex flex-col items-center justify-center h-fit;
	}
	.portfolio-masonry {
		@apply grid grid-flow-row lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 grid-cols-1 lg:gap-8 gap-4 w-10/12 h-fit lg:pt-16 pt-8 pb-16;
	}
	.portfolio-masonry-item {
		@apply w-full inline-block relative cursor-pointer overflow-hidden;
	}
	.portfolio-masonry-item-slider {
		@apply w-full lg:h-1/4 md:h-1/4 h-1/3 z-[2] bg-black/75 absolute bottom-0 left-0 flex flex-col items-center justify-center text-white;
	}
	.portfolio-masonry-item-slider > h5,
	.portfolio-masonry-item-slider > span {
		@apply text-center mb-2;
	}
	.project-section {
		@apply -translate-y-[3.5rem];
	}
	.project-landing-container {
		@apply relative w-[96vw];
	}
	.project-bottom-bar {
		@apply relative lg:w-4/5 md:w-4/5 w-full h-fit grid lg:grid-cols-2 md:grid-cols-2 grid-cols-1 grid-flow-row gap-8 py-4;
	}
	.project-bottom-bar-link {
		@apply flex flex-col justify-center space-y-2;
	}
	.project-bottom-bar-link > label {
		@apply text-sm text-red-700;
	}
	.project-bottom-bar-link > a {
		@apply flex flex-row items-center space-x-2;
	}
	.project-team {
		@apply w-full pb-4 flex flex-col justify-center space-y-4;
	}
	.project-team > .project-members {
		@apply w-full grid lg:grid-cols-2 md:grid-cols-2 grid-cols-1 grid-flow-row gap-4 py-4;
	}
	.project-team > .project-members > div {
		@apply space-y-2 flex flex-col items-center justify-center;
	}
	.project-team > .project-members > .odd-child {
		@apply lg:col-span-2 md:col-span-2;
	}

	.project-description {
		@apply w-full flex lg:flex-row md:flex-col flex-col lg:items-start md:items-center items-center justify-center lg:space-x-8 space-x-0;
	}
	.project-description > .project-markdown {
		@apply w-full h-full z-[2] flex flex-col items-center justify-center text-black py-4 lg:px-8 md:px-4 px-0;
	}
	.project-markdown > article {
		@apply prose text-black leading-loose h-fit w-full scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-200 scrollbar-thumb-rounded-md lg:px-0 md:px-0 px-4;
	}
	.project-gallery {
		@apply lg:w-4/5 md:w-11/12 w-full pb-8 flex flex-col items-center justify-center space-y-4 text-center;
	}
	.project-gallery > h1 {
		@apply w-full;
	}
	.project-gallery > div {
		@apply w-full;
	}
	.project-gallery > h3 {
		@apply w-full pb-4 border-b-4;
	}
	.project-gallery > .project-gallery-list {
		@apply grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 grid-flow-row h-full gap-4 p-8;
	}
	.project-gallery-item {
		@apply w-full aspect-video inline-block mb-2 relative cursor-pointer overflow-hidden;
	}
	.project-gallery-item > img {
		@apply hover:scale-105 transition-transform duration-300 ease-in-out hover:opacity-100 opacity-80;
	}
	.project-story-div {
		@apply w-[50%] h-[7.5%] absolute top-0 right-0;
	}
	.project-story-div > button {
		@apply p-1 m-4;
	}
	.project-story-team-container {
		@apply w-[50%] h-full absolute top-0 left-0 z-[2] p-2 space-y-12 bg-black/70 flex flex-col items-center justify-center text-white;
	}
	.project-story-team-container > .project-story-relative {
		@apply relative w-full h-full flex flex-col items-center justify-center;
	}
	.animated-div-button {
		@apply italic hover:underline z-[2] relative w-full;
	}
	.animated-div-button > button {
		@apply h-fit border-2 text-white inline-flex items-center space-x-1;
	}
	.animated-div-button > button:hover {
		@apply generic-transition bg-white text-black;
	}
	.project-story-markdown-container {
		@apply top-16 md:right-[1.25rem] absolute bg-white overflow-y-auto;
		height: calc(100vh - 6rem);
		width: calc(100vw / 2 - 2rem);
	}
	.project-story-markdown-container > article {
		@apply lg:prose md:prose-sm lg:px-16 md:px-4 leading-loose;
	}
	.project-landing-carousel-container {
		@apply w-full h-full;
	}
	.project-carousel-container {
		@apply relative w-full h-screen border-gray-200 overflow-hidden;
	}
	.project-carousel-container > img {
		@apply absolute w-full h-screen overflow-hidden mt-2;
	}
	.carousel-controls {
		@apply absolute top-0 h-full z-[2] w-[7.5%] transition-all duration-300 ease-in-out flex flex-col items-center justify-center cursor-pointer;
	}
	.carousel-controls > button {
		@apply p-2 text-white rounded-full;
	}
}

