@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	main {
		@apply relative min-h-0 w-full;
	}
	main > section {
		@apply lg:-translate-y-[3.5rem] md:-translate-y-[3.5] translate-y-0;
	}
	section {
		@apply flex flex-row items-stretch justify-between;
	}
	section > div {
		@apply w-full h-screen flex flex-col items-center justify-center;
	}
	input[type="text"],
	textarea {
		@apply w-full py-2 border-b-2 resize-y focus:outline-none;
	}
	button {
		@apply px-4 py-2;
	}
	a {
		@apply generic-transition cursor-pointer;
	}
	h1 {
		@apply text-4xl font-extrabold;
	}
	h2 {
		@apply text-3xl font-extrabold;
	}
	h3 {
		@apply text-2xl font-bold;
	}
	h4 {
		@apply text-xl font-bold;
	}
	h5 {
		@apply text-lg font-semibold;
	}
	h6 {
		@apply text-base font-semibold;
	}
	p {
		@apply leading-loose;
	}
	header {
		@apply w-full px-4 sticky top-0 left-0 flex flex-row items-center justify-between z-10;
	}
	header > div:first-child {
		@apply py-2;
	}

	footer {
		@apply w-full flex lg:flex-row md:flex-row flex-col items-center justify-between border-t-2 static bottom-0 left-0;
	}
	footer > .logo-container {
		@apply flex-[2] flex flex-col lg:items-start md:items-start items-center justify-center px-8 py-2;
	}
	footer .contact-list-container {
		@apply flex-1 flex flex-col items-start justify-center px-8 py-2 space-y-2;
	}
}

@layer components {
	/* Generic Classes */
	.generic-transition {
		@apply transition-all ease-linear duration-200;
	}
	.custom-scrollbar {
		@apply scrollbar-thin scrollbar-track-gray-200 scrollbar-thumb-rounded-md;
	}
	.banner-section {
		@apply relative w-full lg:h-screen h-[100vh] lg:translate-y-[-3.5rem] translate-y-[-3.5rem];
	}
	.banner-mask {
		@apply absolute w-full h-full top-0 left-0 bg-black/60 z-[2] px-8 py-16 grid grid-flow-row;
	}
	.banner-mask.two-column {
		@apply lg:grid-cols-2 md:grid-cols-2 grid-cols-1;
	}
	.banner-mask > .banner-title-container {
		@apply flex flex-col lg:items-start md:items-start items-center justify-center w-full h-full relative border-2 px-8 lg:text-left md:text-left text-center;
	}
	.banner-title {
		@apply lg:text-5xl md:text-4xl sm:text-3xl text-3xl text-white mb-4 leading-normal;
	}
	.banner-subtitle {
		@apply text-white lg:w-3/5 md:w-11/12 w-11/12 lg:text-xl md:text-lg text-base leading-relaxed;
	}
	.banner-spacer {
		@apply lg:flex md:flex hidden;
	}
	/*Home*/
	.services-section {
		@apply h-fit w-full lg:flex md:flex hidden flex-row items-center justify-center pb-16;
	}
	.services-list-container {
		@apply w-full h-fit flex flex-col items-center justify-center;
	}
	.services-list {
		@apply w-full h-fit grid grid-cols-1 grid-flow-row gap-12 lg:px-8 md:px-8 px-4 lg:py-16 md:py-8;
	}
	.services-list > div {
		@apply relative lg:w-11/12 w-full h-auto aspect-video overflow-hidden;
	}
	.services-slider {
		@apply w-full h-fit flex flex-col items-center justify-start;
	}
	.services-slider-container {
		@apply sticky flex flex-col items-center justify-center w-full h-auto aspect-square space-y-8 generic-transition top-24 py-8;
	}
	.services-slider-container > h2 {
		@apply text-2xl;
	}
	.services-slider-container > p {
		@apply leading-loose lg:w-4/5 md:w-11/12 w-full;
	}
	.services-slider-hidden {
		@apply h-fit w-full lg:hidden md:hidden flex flex-col items-start justify-center;
	}
	.services-slider-hidden-container {
		@apply w-full h-fit flex flex-col items-center justify-start;
	}
	.services-slider-hidden-text-container {
		@apply flex flex-col items-center justify-center w-11/12 h-auto aspect-square space-y-8 generic-transition pb-8;
	}
	.services-slider-hidden-text-container > h2 {
		@apply text-2xl;
	}
	.services-slider-hidden-text-container > p {
		@apply leading-loose;
	}
	.landing-blockquote-section {
		@apply w-full h-full flex flex-row items-center justify-center bg-black lg:py-16 md:py-8 py-4;
	}
	.landing-blockquote-section-container {
		@apply lg:w-1/2 md:w-3/4 w-full h-auto flex flex-col items-center justify-center lg:p-16 p-8;
	}
	.landing-blockquote-section-container > p {
		@apply text-white indent-4 text-justify leading-loose tracking-wider text-lg w-full italic;
	}
	.landing-collage {
		@apply lg:px-16 md:px-8 px-4 py-16;
	}
	.landing-collage-container {
		@apply lg:w-full md:w-full w-0 lg:h-auto md:h-auto h-0 aspect-square lg:grid md:grid hidden grid-cols-5 grid-flow-row gap-2;
	}
	.landing-collage-hidden-container {
		@apply lg:w-0 md:w-0 w-full lg:h-0 md:h-0 h-fit lg:hidden md:hidden grid grid-cols-1 grid-flow-row gap-4 lg:px-16 md:px-8 px-4 py-16;
	}
	.license-section {
		@apply min-h-0 max-h-fit;
	}
	.license-grid {
		@apply w-full h-fit grid lg:grid-cols-2 md:grid-cols-2 grid-cols-1 grid-flow-row;
	}
	.license-description {
		@apply w-11/12 mx-auto h-fit flex flex-col items-center justify-center space-y-8 pt-16;
	}
	.license-description > h3 {
		@apply text-center;
	}
	.license-description > p {
		@apply leading-loose lg:w-4/5 md:w-11/12 w-full text-left;
	}
	.license-icons-container {
		@apply lg:w-3/4 md:w-11/12 w-full flex lg:flex-row md:flex-row flex-col items-center justify-center;
	}
	.aia-icon-container {
		@apply relative w-auto lg:h-[9rem] md:h-[7rem] h-[5rem] aspect-[2.38/1] overflow-hidden;
	}
	.ncarb-icon-container {
		@apply relative w-auto lg:h-[9rem] md:h-[7rem] h-[5rem] aspect-[1.60/1] overflow-hidden;
	}
	.consult-section {
		@apply translate-y-0 relative w-full h-screen;
	}
	.consult-backdrop {
		@apply w-full h-full bg-black/60 z-[2] grid lg:grid-cols-4 md:grid-cols-4 grid-cols-1 grid-flow-row px-8 py-16;
	}
	.consult-spacer {
		@apply lg:flex md:flex hidden;
	}
	.consult-border {
		@apply flex flex-col items-center justify-center w-full h-full relative border-2 text-center col-span-2 px-8 text-white space-y-8;
	}
	.consult-border > h4 {
		@apply w-10/12 lg:text-4xl md:text-4xl sm:text-3xl text-3xl;
	}
	.consult-border > p {
		@apply w-10/12 leading-relaxed text-white;
	}

	/*About*/
	.team-gallery-container {
		@apply h-fit lg:py-16 md:py-8 py-4 lg:flex md:flex hidden flex-row items-center justify-center;
	}
	.team-gallery-hidden-container {
		@apply h-fit lg:py-16 md:py-8 py-4 lg:hidden md:hidden flex flex-col items-center justify-center;
	}
	.team-gallery {
		@apply w-full h-fit lg:px-16 md:px-8 px-4 grid lg:grid-cols-4 md:grid-cols-4 grid-cols-1 grid-flow-row gap-8;
	}
	.team-gallery-item {
		@apply flex flex-col items-center justify-start w-full h-full aspect-square col-span-2;
	}
	.team-gallery-item:first-of-type {
		@apply lg:col-span-2 md:col-span-2 col-span-1;
	}
	.meet-the-team-container {
		@apply flex flex-col items-center justify-center w-full h-auto aspect-square sticky mb-8 top-24 space-y-8;
	}
	.meet-the-team-container > p {
		@apply w-3/4 text-left leading-loose;
	}
	.meet-the-team-hidden-container {
		@apply flex flex-col items-center justify-center w-full lg:h-auto h-fit space-y-8 py-16 px-4;
	}
	.meet-the-team-hidden-container > p {
		@apply lg:w-3/5 md:w-4/5 w-full text-left leading-loose;
	}
	.meet-the-team-container > h2,
	.meet-the-team-hidden-container > h2 {
		@apply text-2xl;
	}

	/*About/[slug]*/
	.team-member-section {
		@apply grid lg:grid-cols-2 md:grid-cols-2 grid-cols-1 grid-flow-row translate-y-0 lg:gap-x-16 md:gap-x-8 gap-x-0 lg:gap-y-0 md:gap-y-0 gap-y-8 lg:pt-8 md:pt-6 pt-0 pb-8;
	}
	.team-member-image-layout {
		@apply w-full h-full flex flex-col lg:items-end md:items-end items-center justify-start;
	}
	.team-member-image-container {
		@apply lg:w-7/12 md:w-9/12 w-full h-auto relative inline-block overflow-hidden aspect-[1/1.5];
	}
	.team-member-text {
		@apply flex flex-col lg:items-start md:items-start items-center justify-start h-full;
	}
	.team-member-text-layout {
		@apply lg:w-8/12 md:w-9/12 w-11/12 space-y-6;
	}
	.team-member-text-container {
		@apply space-y-2 flex flex-col lg:items-start md:items-start items-center;
	}

	/*Process*/
	.process-blockquote {
		@apply w-full h-full flex flex-row items-center justify-center bg-black lg:py-16 md:py-8 py-4 translate-y-[-3.5rem];
	}
	.process-blockquote > p {
		@apply lg:w-1/2 md:w-10/12 lg:p-16 p-8 text-white indent-4 text-justify leading-loose tracking-wider text-lg italic;
	}
	.process-timeline {
		@apply w-full lg:min-h-[60vh] md:min-h-[80vh] min-h-fit max-h-fit flex flex-col items-center justify-start space-y-4 lg:pt-16 md:pt-8 pt-4 pb-16;
	}
	.process-timeline > nav {
		@apply lg:w-3/4 md:w-4/5 w-full flex flex-col items-center lg:justify-center md:justify-center justify-start relative;
	}
	.process-timeline-ul {
		@apply flex flex-row items-center lg:justify-between md:justify-between justify-start w-full h-fit z-[3];
	}
	.process-timeline-ul > li {
		@apply w-full flex flex-col items-center justify-center;
	}
	.process-timeline-circle {
		@apply h-6 w-6 border-2 rounded-full cursor-pointer;
	}
	.process-timeline-label {
		@apply p-2 cursor-pointer lg:flex md:flex hidden;
	}
	.process-timeline-item {
		@apply w-full h-fit grid lg:grid-cols-2 md:grid-cols-2 grid-cols-1 grid-flow-row gap-x-8;
	}
	.process-timeline-item-text-container {
		@apply flex flex-col lg:items-end md:items-end items-center justify-center lg:pr-8 md:pr-8 pr-0;
	}
	.process-timeline-item-text {
		@apply lg:w-3/5 md:w-4/5 w-full lg:px-0 md:px-0 px-4 pb-4 my-4;
	}
	.process-timeline-item-image-container {
		@apply h-full flex flex-col lg:justify-end md:justify-center justify-start lg:items-start md:items-start items-center lg:px-0 md:px-0 px-4;
	}
	.process-timeline-item-image-container > div {
		@apply relative lg:w-3/5 md:w-4/5 w-full h-auto aspect-square;
	}

	/*Portfolio*/
	.portfolio-section {
		@apply flex flex-col items-center justify-center h-fit;
	}
	.portfolio-gallery-container {
		@apply w-full min-h-screen max-h-fit flex flex-col items-center justify-start;
	}
	.portfolio-category-nav {
		@apply mx-auto lg:w-7/12 md:w-4/5 w-full flex flex-col items-center lg:justify-center md:justify-center justify-start relative px-2;
	}
	.portfolio-category-nav > ul {
		@apply flex flex-row lg:items-end md:items-end items-center h-fit lg:mt-16 md:mt-16 mt-8 lg:mb-8 md:mb-8 mb-4;
	}
	.portfolio-category-nav > ul > li {
		@apply box-content flex flex-col items-center justify-center relative h-full lg:text-base md:text-base sm:text-sm text-xs;
	}
	.portfolio-category-nav-tab {
		@apply h-1 border-0 absolute bottom-0 left-0 right-0 mx-auto lg:w-4/5 w-full bg-red-700;
	}
	.portfolio-gallery-group {
		@apply grid grid-flow-row lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 grid-cols-1 lg:gap-8 gap-4 w-11/12 h-fit pt-8 pb-16;
	}
	.portfolio-gallery-item {
		@apply lg:w-10/12 md:w-10/12 mx-auto w-full h-full flex flex-col items-center justify-start;
	}
	.portfolio-gallery-item-image {
		@apply w-full h-auto aspect-video relative cursor-pointer overflow-hidden;
	}
	.portfolio-gallery-item-caption {
		@apply w-full lg:h-1/5 md:h-1/5 h-1/4 z-[2] bg-white flex flex-col items-center justify-center border-b-2 py-4;
	}
	.portfolio-gallery-item-caption > h5,
	.portfolio-gallery-item-caption > span {
		@apply text-center mb-1;
	}

	/*Portfolio/[slug]*/
	.project-bottom-bar {
		@apply relative lg:w-4/5 md:w-4/5 w-full h-fit grid lg:grid-cols-2 md:grid-cols-2 grid-cols-1 grid-flow-row gap-8 py-4;
	}
	.project-bottom-bar-link {
		@apply flex flex-col justify-center space-y-2;
	}
	.project-bottom-bar-link > label {
		@apply text-sm text-red-700;
	}
	.project-bottom-bar-link > a {
		@apply flex flex-row items-center space-x-2;
	}
	.project-team {
		@apply w-full pb-4 flex flex-col justify-center space-y-4;
	}
	.project-team > .project-members {
		@apply w-full grid lg:grid-cols-2 md:grid-cols-2 grid-cols-1 grid-flow-row gap-4 py-4;
	}
	.project-team > .project-members > div {
		@apply space-y-2 flex flex-col items-center justify-center;
	}
	.project-team > .project-members > .odd-child {
		@apply lg:col-span-2 md:col-span-2;
	}
	.project-description {
		@apply w-full flex lg:flex-row md:flex-col flex-col lg:items-start md:items-center items-center justify-center lg:space-x-8 space-x-0 py-8;
	}
	.project-description > .project-markdown {
		@apply w-full h-full z-[2] flex flex-col items-center justify-center text-black py-4 lg:px-8 px-4 space-y-4;
	}
	.project-markdown > article {
		@apply prose text-black leading-loose h-fit w-full scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-200 scrollbar-thumb-rounded-md lg:px-0 md:px-0 px-4;
	}
	.project-gallery {
		@apply lg:w-11/12 md:w-11/12 w-full pb-8 flex flex-col items-center justify-center space-y-4 text-center;
	}
	.project-gallery > h1 {
		@apply w-full;
	}
	.project-gallery > div {
		@apply w-full;
	}
	.project-gallery > h3 {
		@apply w-full pb-4 border-b-4;
	}
	.project-gallery > .project-gallery-list {
		@apply grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 grid-flow-row h-full gap-4 p-8;
	}
	.project-gallery-item {
		@apply w-full aspect-video inline-block mb-2 relative cursor-pointer overflow-hidden;
	}
	.proejct-gallery-item-image {
		@apply relative w-full h-full overflow-hidden generic-transition hover:scale-105;
	}
	.animated-div-button {
		@apply italic hover:underline z-[2] relative w-full;
	}
	.animated-div-button > button {
		@apply h-fit border-2 text-white inline-flex items-center space-x-1;
	}
	.animated-div-button > button:hover {
		@apply generic-transition bg-white text-black;
	}
	.project-story-markdown-container {
		@apply top-16 md:right-[1.25rem] absolute bg-white overflow-y-auto;
		height: calc(100vh - 6rem);
		width: calc(100vw / 2 - 2rem);
	}
	.project-landing-carousel-container {
		@apply w-full h-full;
	}
	.project-view-mode-container {
		@apply w-full h-fit flex flex-col items-center justify-center relative;
	}
	.project-carousel-container {
		@apply relative w-full lg:h-screen md:h-screen h-auto aspect-square border-gray-200 overflow-hidden;
	}
	.project-carousel-container > img {
		@apply absolute w-full h-full overflow-hidden mt-2;
	}
	.carousel-controls {
		@apply absolute my-auto bottom-0 h-[90%] z-[2] w-[7.5%] transition-all duration-300 ease-in-out flex flex-col items-center justify-center cursor-pointer;
	}
	.carousel-controls > button {
		@apply p-2 text-white rounded-full;
	}

	/*Contact*/
	.contact-landing-section {
		@apply h-fit translate-y-0 lg:flex md:flex hidden flex-row items-start justify-center;
	}
	.contact-landing-list-sticky-container {
		@apply w-full flex flex-col items-center justify-start;
	}
	.contact-landing-list-container {
		@apply sticky flex flex-col items-center justify-center w-4/5 h-auto aspect-square space-y-8 px-8 mb-8 generic-transition top-32;
	}
	.contact-landing-scroll-container {
		@apply w-full h-fit flex flex-col items-center justify-start space-y-2 pb-8;
	}
	.contact-list {
		@apply max-h-fit space-y-2;
	}
	.contact-list > div {
		@apply flex flex-row items-center justify-start space-x-4;
	}
	.contact-list > div > a {
		@apply flex flex-row items-center justify-start space-x-4;
	}
	.contact-form-section {
		@apply flex flex-row items-stretch justify-between;
	}
	.contact-form-section > div {
		@apply flex-1;
	}
	.contact-form {
		@apply lg:w-4/5 w-11/12 h-auto aspect-square flex flex-col items-start justify-center space-y-2 lg:px-8 px-4 lg:py-16 md:py-8 py-4;
	}
	.contact-form > h4 {
		@apply w-full text-center;
	}
	.contact-form > label,
	span {
		@apply w-full text-sm;
	}
	.contact-form > span {
		@apply text-sm text-red-700;
	}
	.contact-form > button {
		@apply bg-white text-red-700 transition-all ease-in-out duration-300 border-2 border-red-700 tracking-wider lg:px-4 md:px-2 px-1 lg:py-2 py-1 lg:w-fit md:w-fit w-full;
	}
	.contact-form > button:hover {
		@apply bg-red-700 text-white;
	}
	.field-error {
		@apply border-red-700;
	}

	/*News*/
	.news-page-header {
		@apply w-full h-full mx-auto flex flex-col items-center justify-start space-y-4 pt-8 px-8;
	}
	.news-page-header > span {
		@apply text-2xl text-center;
	}
	.news-page-header-image-container {
		@apply lg:w-2/12 md:w-4/12 sm:w-6/12 w-9/12 h-auto aspect-video relative;
	}
	.news-category-nav {
		@apply w-full mx-auto lg:pt-16 md:pt-8 sm:pt-4 pt-4 pb-8;
	}
	.news-category-nav > ul {
		@apply w-full flex lg:flex-row md:flex-row flex-col items-center justify-center lg:space-x-16 md:space-x-8 space-x-0;
	}
	.news-category-nav > ul > li {
		@apply flex flex-col items-center justify-center relative;
	}
	.news-portable-text-component {
		@apply lg:w-9/12 w-full mb-8 text-left leading-loose;
	}
	.news-article-text {
		@apply flex flex-col items-start lg:pt-16 md:pt-8 sm:pt-8 pt-8 mx-auto
		 lg:w-10/12 md:w-10/12 w-full;
	}
	.news-category-tab {
		@apply h-1 border-0 absolute -bottom-1 left-0 right-0 mx-auto w-full bg-red-700;
	}
	.news-article-pt-list {
		@apply pl-4 space-y-2 mb-4;
	}
	.news-article-pt-list > li {
		@apply text-justify;
	}
}

