@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply scroll-smooth;
	}
	main {
		@apply relative min-h-0;
	}
	main > section {
		@apply -translate-y-[5.1rem];
	}
	section {
		@apply min-h-screen flex flex-row items-stretch justify-between;
	}
	section > div {
		@apply w-full h-screen flex flex-col items-center justify-center;
	}
	input[type="text"],
	textarea {
		@apply w-full rounded-lg px-4 py-2 border-2 resize-none;
	}
	button {
		@apply px-4 py-2 rounded-lg;
	}
	a {
		&:hover {
			@apply text-blue-500;
		}
	}
	h1 {
		@apply text-4xl font-extrabold;
	}
	h2 {
		@apply text-3xl font-extrabold;
	}
	h3 {
		@apply text-2xl font-bold;
	}
	h4 {
		@apply text-xl font-bold;
	}
	h5 {
		@apply text-lg font-semibold;
	}
	h6 {
		@apply text-base font-semibold;
	}
	header {
		@apply w-full p-2 sticky top-0 left-0 flex flex-row items-center justify-between z-10;
		div:first-child {
			@apply p-2;
			a {
				@apply relative;
			}
		}
		div:last-child {
			@apply flex flex-row items-center justify-center space-x-2;
			a {
				@apply p-1;
			}
		}
	}

	footer {
		@apply w-full flex flex-row items-center justify-between border-t-2 static bottom-0 left-0;
		.logo-container {
			@apply flex-[2] flex flex-col items-start justify-center px-8 py-2;
		}
		.contact-list-container {
			@apply flex-1 flex flex-col items-start justify-center px-8 py-2 space-y-2;
		}
	}
}

@layer components {
	.landing-image {
		background-image: url("https://i.ibb.co/bJX4T0R/landing-house.jpg");
		object-fit: contain;
		background-size: 100% 100%;
	}
	.contact-list {
		@apply max-h-fit space-y-2;
	}
	.contact-list > div {
		@apply flex flex-row items-center justify-start space-x-4;
		a {
			@apply flex flex-row items-center justify-start space-x-4;
		}
	}
	.about-image {
		background-image: url("https://i.ibb.co/pL4Zry9/contact-sketch.jpg");
		object-fit: contain;
		background-size: 100% 100%;
	}
	.about-image-2 {
		background-image: url("https://i.ibb.co/2kCRXP3/rough-sketch.jpg");
		object-fit: contain;
		background-size: 100% 100%;
	}
	.about-beside {
		div {
			@apply w-[80%] space-y-8 leading-loose flex flex-col items-center justify-center;
			h1 {
				@apply text-center;
			}
		}
	}
	.contact-beside {
		.contact-beside-container {
			@apply w-[80%] space-y-8 leading-loose flex flex-col items-center justify-center;
			h1 {
				@apply text-center;
			}
		}
	}
	.contact-image {
		background-image: url("https://i.ibb.co/pL4Zry9/contact-sketch.jpg");
		object-fit: contain;
		background-size: 100% 100%;
	}
	.contact-form-section {
		@apply flex flex-row items-stretch justify-between;
		div {
			@apply flex-1;
		}
	}
	.contact-form-beside {
		@apply flex flex-col items-center justify-center p-8;
	}
	.contact-form {
		@apply w-[65%] flex flex-col items-center justify-center space-y-2 shadow-2xl p-4 rounded-lg;
		label,
		span {
			@apply w-full;
		}
		span {
			@apply text-sm text-red-500;
		}
		button {
			@apply w-full bg-blue-500 text-white transition-all ease-in-out duration-300;
			&:hover {
				@apply bg-blue-700;
			}
		}
	}
	.member-section {
		@apply translate-y-0 h-full;
	}
	.member-image {
		@apply items-end justify-start pt-12 pr-8;
	}
	.member-beside {
		@apply flex flex-col items-start justify-start h-full;
	}
	.member-markdown {
		@apply w-[70%] prose text-justify pb-8 leading-loose;
	}
	.image-container {
		@apply relative h-[60vh] w-[60%];
	}
	.portfolio-section {
		@apply flex flex-col items-center justify-center h-fit;
	}
	.project-section {
		@apply translate-y-0 h-screen flex flex-row items-end justify-center px-2;
	}
	.project-landing-container {
		@apply relative w-[96vw];
	}
	.project-bottom-bar {
		@apply relative w-[80%] h-[10vh];
	}
	.project-bottom-bar-link {
		@apply flex flex-col justify-center absolute top-0 space-y-2;
		& label {
			@apply text-sm text-red-600;
		}
		& a {
			@apply flex flex-row items-center space-x-2 hover:underline;
		}
	}
	.project-team {
		@apply text-center pb-4 border-b-4 flex flex-col items-center justify-center space-y-4;
		.project-members {
			@apply w-full grid grid-cols-2 grid-flow-row;
			div {
				@apply flex flex-col items-center justify-center space-y-2;
			}
			& .odd-child {
				@apply col-span-2;
			}
		}
	}
	.project-description {
		@apply py-16 w-full flex flex-col items-center justify-center space-y-4;
		& .project-markdown {
			@apply w-[60%] h-[92.5%] z-[2] space-y-12 flex flex-col items-center justify-center text-black;
		}
	}
	.project-markdown-article {
		@apply prose text-black text-justify py-8 px-16 leading-loose h-fit min-w-full overflow-y-auto;
	}
	.project-gallery {
		@apply w-[80%] py-16 flex flex-col items-center justify-center space-y-4 text-center;
		& h1,
		h3,
		div {
			@apply w-full;
		}
		& h3 {
			@apply pb-4 border-b-4;
		}
		& .project-gallery-list {
			@apply gap-8 lg:columns-3 md:columns-2 sm:columns-2 columns-2 h-full p-8;
		}
	}
	.project-story-image {
		@apply rounded-tl-3xl rounded-br-3xl;
	}
	.project-story-div {
		@apply w-[50%] h-[7.5%] absolute top-0 right-0;
		& button {
			@apply p-1 m-4;
		}
	}
	.project-story-team-container {
		@apply w-[50%] h-full absolute top-0 left-0 z-[2] p-2 space-y-12 bg-black/70 flex flex-col items-center justify-center text-white rounded-tl-3xl;
	}
	.project-story-markdown-container {
		@apply w-[50%] h-[92.5%] absolute bottom-0 right-0 z-[2] space-y-12 bg-white/[92.5%] flex flex-col items-center justify-center text-black rounded-br-3xl shadow-lg;
	}
	.project-landing-carousel-container {
		@apply absolute top-0 left-0 w-full h-full;
	}
	.project-carousel-container {
		@apply relative w-full h-screen border-gray-200 overflow-hidden;
		& img {
			@apply absolute w-full h-screen overflow-hidden;
		}
		& .carousel-controls {
			@apply absolute top-0 h-full z-[2] w-[7.5%] hover:w-[5%] bg-black/20 hover:bg-black/40 transition-all duration-300 ease-in-out flex flex-col items-center justify-center cursor-pointer;
			& button {
				@apply p-2 text-white;
			}
		}
	}
}

